*{
    padding:0;
    margin:0;
   

}

        body{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
			background: url(images/worldbackground.jpg) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			background-size: cover;
			background-color: none;
        }

        #travelform{
            width:  400px;
            padding: 100px;
            text-transform: uppercase;
            background-color: white;

        }


     .form{

     }
     .formgroup{
        margin: 20px 0;
        position: relative;
     }

     .formgroup  label{
        display:inline-block;
        margin-bottom: 5px;

     }

     .formgroup input{
        display: block;
        width: 100%;
        padding: 10px;

     }
     .sucess input{
        border: 3px green solid;
     }

     .error input{
        border: 3px red solid;

     }
     .sucess i.fa-check-circle{
        visibility:visible;
        color:green;
     }



     .formgroup i {
        position:absolute;
        right:10px;
        top: 35px;
        visibility: hidden;

     }
     .sucess i.fa-check-circle{
        visibility:visible;
        color:green;

     }
     .error i.fa-exclamation-circle{
        visibility: visible;
        color: red;


     }


     .formgroup p {
        font-size: 15px;
        color: red;
        visibility: hidden;
     }
     .error p {
         visibility: visible;
     }

    .btn{
        width: 4rem;
        height: auto;
        font-size: 20px;
        padding:10px;
        margin: 0 auto;
        position: relative;

    }
    .btn input {
      width:4rem;
      height: auto;
      padding:10px;
      background-color: rgb(14, 14, 14);
      color: rgb(238, 232, 232);
      border: none;
      border-radius: 2rem;
      margin: 0 auto;
      justify-items: center;

  }

 

  

    .CardForm .payment .form-group {
      float: left;
      margin-bottom: 15px;
  }
  
  .CardForm .payment .form-control {
      line-height: 40px;
      height: auto;
      padding: 0 16px;
  }
  
  .CardForm .owner {
      width: 63%;
      margin-right: 10px;
  }
  
  .CardForm .CVV {
      width: 35%;
  }
  
  .CardForm #card-number-field {
      width: 100%;
  }
  
  .CardForm #expiration-date {
      width: 49%;
  }
  
  